.container {
    display: inline-block;
    padding: 5px;
    margin-left: 12%;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
.container:hover {
    cursor: pointer;
    color: #453231
}